{% extends 'base.html' %}

{% block content %}
<script>
$(document).ready(function(){
    $('.ui.dropdown').dropdown();
    $('.ui.modal').modal();
    $('#add_btn').click(function(){
        $('.ui.modal').modal('show');
    });

    $('.ui.form').form(
        {
            act_name: {
                identifier  : 'act_name',
                rules: [
                {
                    type   : 'empty',
                    prompt : '請輸入活動名稱'
                }
                ]
            },
            date: {
                identifier  : 'date',
                rules: [
                {
                    type   : 'empty',
                    prompt : '請輸入日期'
                }
                ]
            },
            other: {
                identifier  : 'other',
                rules: [
                {
                    type   : 'maxLength[100]',
                    prompt : '最多100字'
                }
                ]
            }
        });
});

</script>
<div class="f_table">
    <table class="ui striped table">
        <thead>
            <th>活動名稱</th>
            <th>日期</th>
            <th>時間</th>
            <th>場地</th>
            <th>預約狀況</th>
            <th>備註</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% for m in memos %}
            <tr>
                <td>{{m.act_name}}</td>
                <td>{{m.date}}</td>
                <td>{{m.time}}</td>
                <td>{{m.place}}</td>
                <td>{{m.status}}</td>
                <td>{{m.other}}</td>
                <td>
                    <form class="ui form alter" action="" method="post">
                        <button class="ui green tiny button" type="submit">更改</button>
                    </form>
                    <form class="ui form del" action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value={{m.id}}></input>
                        <input type="hidden" name="del" value="del"></input>
                        <button class="ui red tiny button" type="submit">刪除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="ui blue button" id="add_btn">新增備忘</button>
</div>
<div  class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        新增活動備忘
    </div>
    <div class="content">
        <form class="ui form" action="" method="post">
        {% csrf_token %}
            <div class="three fields">
                <div class="field">
                    <label>活動名稱</label>
                    <input name="act_name" type="text" placeholder="輸入活動名稱">
                </div>
                <div class="field">
                    <label>日期</label>
                    <input name="date" type="text" placeholder="Ex:2015-03-07">
                </div>
                <div class="field">
                    <label>時間</label>
                    <select class="ui dropdown" name="time">
                        <i class="dropdown icon"></i>
                        <option value="早上">早上</option>
                        <option value="中午">中午</option>
                        <option value="下午">下午</option>
                        <option value="晚上">晚上</option>
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>場地</label>
                    <select class="ui dropdown" name="place">
                        <i class="dropdown icon"></i>
                        <option value="四樓陽台">四樓陽台</option>
                        <option value="四樓聯誼廳">四樓聯誼廳</option>
                        <option value="一樓聯誼廳">一樓聯誼廳</option>
                        <option value="二樓聯誼廳">二樓聯誼廳</option>
                        <option value="B1 聯誼廳">B1 聯誼廳</option>
                        <option value="露天劇場">露天劇場</option>
                        <option value="思源前廊">思源前廊</option>
                        <option value="地下室中庭">地下室中庭</option>
                        <option value="一樓中庭">一樓中庭</option>
                        <option value="三樓中庭">三樓中庭</option>
                        <option value="中正堂聯誼廳">中正堂聯誼廳</option>
                        <option value="溜冰場">溜冰場</option>
                        <option value="五樓陽台">五樓陽台</option>
                        <option value="韻律教室">韻律教室</option>
                    </select>
                </div>
                <div class="ten wide field">
                    <label>備註</label>
                    <input name="other" type="text" placeholder="可以寫負責人之類的">
                </div>
            </div>
            <input name="ok" type="hidden" value="ok">
            <button id="send_btn" class="ui blue button">新增</button>
        </form>
    </div>
</div>
{% endblock %}
