{% extends 'base.html' %}


{% block content %}
<div class="r_table">
    <table class="ui striped table">
        <thead>
            <th>活動名稱</th>
            <th>地點</th>
            <th>日期</th>
            <th>時間</th>
            <th>聯絡人</th>
            <th>狀態</th>
            <th>
                <a class="ui small green button" href="{% url 'update' %}">更新記錄</a>
            </th>
        </thead>
        <tbody>
    {% for r in record%}

        <tr>
            <td>{{r.act_name}}</td>
            <td>{{r.place}}</td>
            <td>{{r.date}}</td>
            <td>{{r.time}}</td>
            <td>{{r.contact_man}}</td>
            <td>{{r.status}}</td>
            <td>
                <form action="{% url 'cancel' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="ser" value="{{r.serial}}">
                    <input type="hidden" name="ok" value="ok">
                    <button class="ui red button" type="submit">
                        取消
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
